<div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready to Get Started?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          labore, ea provident veniam eligendi dolor accusamus similique nemo
          aspernatur! Temporibus laborum error impedit nemo iste. In culpa
          molestiae saepe recusandae laborum animi ducimus, expedita
          voluptatum cumque totam magni pariatur ut nobis quae doloribus.
          Ratione incidunt iure sapiente quibusdam ducimus similique.
        </p>
      </div>
      <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
  </div>